
<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="">Nombre del Cliente</label>
            <input class="form-control" type="text" name="" #nombre placeholder="Nombre del Cliente" (keyup)="actualizarNombreCliente(nombre.value)" value="{{nombreInicial}}">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="">NRC</label>
            <input class="form-control" type="text" name="" #nrc placeholder="NRC">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <label for="">NIT</label>
            <input class="form-control" type="text" name="" #nit placeholder="NIT">
        </div>
    </div>
</div>
