<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Total</th>
                <th>Recibido</th>
                <th>Pendiente</th>
                <th>Vuelto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>${{total | async}}</td>
                <td>${{recibido | async}}</td>
                <td>${{pendiente | async}}</td>
                <td>${{vuelto | async}}</td>
            </tr>
        </tbody>
    </table>
</div>