<app-sidebar></app-sidebar>

<app-navbar></app-navbar>

<main class="content">
    <app-info></app-info>

    <div class="row mt-6">
        <h5>Configuraciones Basicas</h5>
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-4">
                        <button class="btn btn-info" routerLink="/{{links.configNumeradores}}" >
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="icon icon-xs me-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>

                        </button>
                        <div>
                            <span class="h6">Numeradores</span>
                            <p>Configurar numeradores para facturas, tickets...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-4">
                        <button class="btn btn-info" routerLink="/{{links.configProductos}}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="icon icon-xs me-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>

                        </button>
                        <div>
                            <span class="h6">Productos</span>
                            <p>Configurar cosas de productos...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-4">
                        <button class="btn btn-info" routerLink="/{{links.configProductos}}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="icon icon-xs me-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>

                        </button>
                        <div>
                            <span class="h6">Formas de Pago</span>
                            <p>Listado de Formas de pago permitidas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 mt-2">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-4">
                        <button class="btn btn-info" routerLink="/{{links.configProductos}}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="icon icon-xs me-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>

                        </button>
                        <div>
                            <span class="h6">Usuarios</span>
                            <p>Mantenimiento de usuarios, roles, permisos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-6">
        <h5>Configuraciones Avanzadas</h5>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex gap-4">
                        <button class="btn btn-danger" (click)="resetDatabase()">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="icon icon-xs me-1">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                        </button>
                        <div>
                            <span class="h6">Reiniciar BD</span>
                            <p>Configuracion temporal durante desarrollo</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>