<main class="content">
    <app-info></app-info>

    <div class="py-4">
        <app-breadcrumb [items]=breadcrumbItems></app-breadcrumb>

        <div class="d-flex justify-content-between w-100 flex-wrap">
            <div class="mb-3 mb-lg-0">
                <h1 class="h4">Visualizar venta</h1>
                <p class="mb-0"></p>
            </div>
            <div class="d-flex gap-2">
                <a class="btn btn-outline-primary d-inline-flex align-items-center" (click)="waiting()">

                    <svg class="icon icon-xs me-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                        stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" />
                    </svg>


                    Espera
                </a>
                <a class="btn btn-outline-primary d-inline-flex align-items-center" (click)="process()">

                    <svg class="icon icon-xs me-1" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z" />
                    </svg>

                    Procesar
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-2">
            <p class="mb-2"><b class="p-2 h5">Productos</b></p>
            <div class="card border-0 shadow">
                <div class="card-header d-flex justify-content-start gap-2">
                    <!-- contenido de productos -->
                    <app-modal-productos [codigoVenta]="codigoVenta"></app-modal-productos>

                    <!-- contenido de inventario -->
                    <app-modal-inventario></app-modal-inventario>

                </div>
                <div class="card-body">
                    <app-tabla-productos-agregados [codigoVenta]="codigoVenta"></app-tabla-productos-agregados>
                </div>
            </div>
        </div>

        <div class="col-md-6 mb-2">
            <p class="mb-2"><b class="p-2 h5">Detalles</b></p>
            <div class="card border-0 shadow">
                <div class="card-header d-flex justify-content-between gap-4">
                    <select class="form-select mb-3" id="country" aria-label="Default select example">
                        <option value="ticket_venta" selected>Ticket de Venta</option>
                        <option value="factura_consumidor_final" disabled>Factura Consumidor Final</option>
                        <option value="credito_fiscal" disabled>Credito Fiscal</option>
                    </select>

                    <div class="input-group mb-3">
                        <span class="input-group-text">
                            <svg class="icon icon-xs text-gray-600" fill="currentColor" viewBox="0 0 20 20"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <input type="text" class="form-control" id="txtSearchSeller" placeholder="Buscar Vendedor"
                            aria-label="Search">

                    </div>
                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <app-section-ticket (nombreCliente)="actualizarNombreCliente($event)"></app-section-ticket>
                    </div>
                    <div class="row mb-2" style="width: 100%; overflow-x: auto;">
                        <div class="col d-flex gap-2">
                            <app-modal-pago-efectivo [codigoVenta]="codigoVenta"></app-modal-pago-efectivo>
                            <div>
                                <button class="btn btn-block btn-info">Tarjeta</button>
                            </div>
                        </div>
                    </div>

                    <app-tabla-orden-pagos [codigoVenta]="codigoVenta"></app-tabla-orden-pagos>

                </div>
                <div class="card-footer" [classList]="(tablaResumenPagoVisible | async) ? '' : 'd-none'">
                    <app-tabla-resumen-pagos [codigoVenta]="codigoVenta"></app-tabla-resumen-pagos>
                </div>
            </div>
        </div>
    </div>
</main>