<button class="btn btn-secondary" data-bs-toggle="modal"
data-bs-target="#modal-apertura-caja">Aperturar Caja</button>


<div class="modal fade" id="modal-apertura-caja" tabindex="-1" role="dialog"
        aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Apertura de Caja Fecha {{fecha}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 class="text-center">¿Desea abrir caja con fecha  {{fecha}}?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="AbrirCaja()">Si</button>
                    <button type="button" class="btn btn-gray-600 text-white ms-auto"
                        data-bs-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
