<div>
    <!-- Button Modal -->
    <button type="button" class="btn btn-block btn-tertiary mb-3" data-bs-toggle="modal"
        data-bs-target="#modal-inventario">Inventario</button>
    <!-- Modal Content -->
    <div class="modal fade" id="modal-inventario" tabindex="-1" role="dialog"
        aria-labelledby="modal-default" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-right-side" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Inventario</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary">Accept</button>
                    <button type="button" class="btn btn-link text-gray-600 ms-auto"
                        data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal Content -->
</div>
