<div>
    <!-- Button Modal -->
    <button type="button" class="btn btn-block btn-info mb-3" data-bs-toggle="modal"
        data-bs-target="#modal-pago-efectivo">Efectivo</button>
    <!-- Modal Content -->
    <div class="modal fade" id="modal-pago-efectivo" tabindex="-1" role="dialog" aria-labelledby="modal-default"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="h6 modal-title">Pago en Efectivo</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="text-center mb-4"><b>Valor Restante: ${{restante | async}}</b></p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row gap-2">
                                <div class="col-12 d-flex justify-content-between gap-1">
                                    <button class="btn w-50 btn-block btn-outline-info" (click)="setPayment(1)">$1</button>
                                    <button class="btn w-50 btn-block btn-outline-info" (click)="setPayment(5)">$5</button>
                                </div>
                                <div class="col-12 d-flex justify-content-between gap-1">
                                    <button class="btn w-50 btn-block btn-outline-info" (click)="setPayment(10)">$10</button>
                                    <button class="btn w-50 btn-block btn-outline-info" (click)="setPayment(20)">$20</button>
                                </div>
                                <div class="col-12 d-flex justify-content-between gap-1">
                                    <button class="btn w-50 btn-block btn-outline-info" (click)="setPayment(50)">$50</button>
                                    <button class="btn w-50 btn-block btn-outline-info" (click)="setPayment(100)">$100</button>
                                </div>
                                <div class="col-12">
                                    <button class="w-100 btn btn-outline-info"
                                        (click)="setExact()">Pago
                                        Exacto</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row mb-4">
                                <div class="form-group">
                                    <label for="txtReceivedPayment">Cantidad
                                        Recibida</label>
                                    <input #cantidadRecibida type="number" step="0.01" min="0.01" class="form-control fw-bold" (change)="setPayment(cantidadRecibida.value)" id="txtReceivedPayment" [(ngModel)]="cantidad">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="txtCambio">Vuelto</label>
                                    <input type="text" class="form-control fw-bold" id="txtCambio" [(ngModel)]="vuelto">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-tertiary" (click)="storePayment()" data-bs-dismiss="modal">Aceptar</button>
                    <button type="button" class="btn btn-link text-gray-600 ms-auto"
                        data-bs-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Modal Content -->
</div>